{extend name="layout" /}

{block name="head"}
<style>
    .support-index .iconfont{
        color: #3296fa;
        font-size: .6rem;
    }

    .sale-index .btn-release-box{
        padding: 20px;
    }
    .sale-index .btn-release{
        display: block;
        border: 1px solid #3296fa;
        text-align: center;
        padding: 100px 0;
        background-color: #fff;
    }
    .sale-index .btn-release .iconfont{
        color: #3296fa;
        font-size: 60px;
        font-weight: bold;
    }
    .sale-index .btn-release p{
        color: #666;
        font-size: 16px;
        margin-top: 20px;
    }
</style>
{/block}

{block name="content"}
<div id="app"  v-cloak>

    <div class="support-index" v-show="userInfo.auth === 2 || userInfo.auth === 4">
        <yd-grids-group :rows="2">
            <yd-grids-item type="a" href="/index/support/log">
                <i class="iconfont icon-dingdan" slot="text"></i>
                <p slot="text">日志</p>
            </yd-grids-item>
            <yd-grids-item type="a" href="/index/support/feedback">
                <i class="iconfont icon-yijianfankui" slot="text"></i>
                <p slot="text">意见反馈</p>
            </yd-grids-item>
            <yd-grids-item type="a" href="/index/support/dispatch">
                <i class="iconfont icon-dingdandaifukuan" slot="text"></i>
                <p slot="text">报销</p>
            </yd-grids-item>
            <yd-grids-item type="a" href="/index/support/rules">
                <i class="iconfont icon-jieban" slot="text"></i>
                <p slot="text">管理制度</p>
            </yd-grids-item>
            <yd-grids-item type="a" href="/index/support/knowledge">
                <i class="iconfont icon-neirong2" slot="text"></i>
                <p slot="text">知识库</p>
            </yd-grids-item>
            <!--<yd-grids-item v-if="userInfo.auth === 4" type="a" href="/index/support/dispatchAudit">-->
                <!--<i class="iconfont icon-wenda" slot="text"></i>-->
                <!--<p slot="text">报销审核</p>-->
            <!--</yd-grids-item>-->
        </yd-grids-group>
    </div>

    <div class="sale-index" v-show="userInfo.auth === 1 || userInfo.auth === 3">
        <div class="btn-release-box">
            <a href="/index/sale/customer" class="btn-release">
                <i class="iconfont icon-zengjia"></i>
                <p>提出技术支持申请</p>
            </a>
        </div>
    </div>

    <yd-tabbar fixed active-color="#3296fa">
        <yd-tabbar-item  title="工作台" type="a" link="/index/" active>
            <yd-icon name="home" slot="icon" size="0.54rem"></yd-icon>
        </yd-tabbar-item>
        <yd-tabbar-item title="项目" type="a" link="/index/project">
            <yd-icon name="type" slot="icon" size="0.54rem"></yd-icon>
        </yd-tabbar-item>
    </yd-tabbar>

</div>
{/block}

{block name="footer"}
<script>
    var app = new Vue({
        el: '#app',
        data: {
            userInfo: {},
        },
        created: function(){
            var self = this;

            self.$dialog.loading.open('加载中');

            ding.ready(function(){
                ding.getUserInfo(function(resp){
                    self.userInfo = resp.data;
                    self.$dialog.loading.close();
                });
            });
        }
    })
</script>
{/block}