{extend name="layout" /}

{block name="head"}
<style>

</style>
{/block}

{block name="content"}
    <div id="app" class="support-know" v-cloak>

        <yd-infinitescroll :callback="getData" ref="infinitescroll">

            <yd-cell-group slot="list">
                <yd-cell-item v-for="item, key in listData" type="a" :href="'/index/support/knowledgeDetail?id='+item.id" :key="key">
                    <span slot="left">{{item.title}}</span>
                    <span slot="right">{{item.create}}</span>
                </yd-cell-item>
            </yd-cell-group>

            <!-- 数据全部加载完毕显示 -->
            <span slot="doneTip">没有数据</span>
            <!-- 加载中提示，不指定，将显示默认加载中图标 -->
            <img slot="loadingTip" src="http://static.ydcss.com/uploads/ydui/loading/loading10.svg"/>
        </yd-infinitescroll>

    </div>
{/block}

{block name="footer"}
<script>
    new Vue({
        el: '#app',
        data: {
            pn: 1,
            ps: 15,
            listData: [],
        },
        created: function () {
            this.getData();
        },
        methods: {
            getData: function () {
                var self = this;
                axios.get('/api/Knowledge/get', {
                    params: {
                        classifyId: util.getParams('id'),
                        pn: self.pn
                    }
                }).then(function (resp) {
                    var _list = resp.data.data;

                    self.listData = self.listData.concat(_list);

                    if (_list.length < self.ps) {
                        /* 所有数据加载完毕 */
                        self.$refs.infinitescroll.$emit('ydui.infinitescroll.loadedDone');
                        return;
                    }
                    /* 单次请求数据完毕 */
                    self.$refs.infinitescroll.$emit('ydui.infinitescroll.finishLoad');
                    self.pn++;
                })
            }
        }
    })
</script>
{/block}