{extend name="layout" /}

{block name="head"}
<style>

</style>
{/block}

{block name="content"}
<div id="app" class="sale-service" v-cloak>

    <div class="ui-title">反馈销售确认结束</div>

    <yd-cell-group>

        <yd-cell-item>
            <yd-textarea slot="right" :disabled="isDone" v-model="form.remark" placeholder="请输入备注说明" maxlength="100"></yd-textarea>
        </yd-cell-item>

    </yd-cell-group>

    <div style="padding: 0 15px;" v-if="!isDone && userInfo.auth == 2">
        <yd-button size="large" @click.native="save" type="primary">提交</yd-button>
    </div>

</div>
{/block}

{block name="footer"}
<script>
    new Vue({
        el: '#app',
        data: {
            userInfo: {},
            isDone: util.getParams('done') && 'disabled',
            form: {
                remark: '' // 备注
            },
            detail: {}
        },
        created: function () {
            var self = this;

            ding.ready(function () {
                ding.getUserInfo(function (resp) {
                    self.userInfo = resp.data;
                });
            });

//            if (self.isDone) {
                self.getProjectDetail();
//            }
        },
        methods: {
            getProjectDetail: function () {
                var self = this;
                axios.get('/api/invoice/getInfo', {
                    params: {
                        id: util.getParams('id')
                    }
                }).then(function (resp) {
                    if (resp.data.ret) {
                        self.detail = resp.data.data;
                        self.form = resp.data.data.flow7 || {
                            remark: '' // 备注
                        };
                    }else{
                        self.$dialog.toast({
                            mes: resp.data.msg,
                            timeout: 1500,
                            icon: 'error'
                        });
                    }
                });
            },
            save: function () {
                if (!this.form.remark) {
                    this.$dialog.toast({
                        mes: '请完整填写内容',
                        timeout: 1500,
                        icon: 'error'
                    });
                    return;
                }

                var self = this;
                axios.post('/api/invoice/flow', Qs.stringify({
                    id: util.getParams('id'),
                    flow: 'flow7',
                    progress: 9,
                    data: self.form
                }),{
                    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
                }).then(function(resp) {
                    if (resp.data.ret) {
                        ding.sendDing({
                            userId: [self.detail.userId],
                            url: location.origin + '/index/project/',
                            text: '技术申请需要您确认结束-' + self.form.remark
                        }, function () {
                            self.$dialog.toast({
                                mes: resp.data.msg,
                                timeout: 1500,
                                icon: 'success',
                                callback: function () {
                                    history.go(-1);
                                }
                            });
                        });
                    } else {
                        self.$dialog.toast({
                            mes: resp.data.msg,
                            timeout: 1500,
                            icon: 'error'
                        });
                    }
                })
            }
        }
    })
</script>
{/block}