{extend name="layout" /}

{block name="head"}
<style>
    .support-log{
        padding-bottom: 90px;
    }
    .support-log .yd-preview{
        border-bottom: 10px solid #f5f5f5;
    }
    .support-log .btn-add{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        border-top: 1px solid #e8e8e8;
        background-color: #ffffff;
        z-index: 1000;
    }
    .support-log .btn-add .yd-btn-block{
        margin-top: 0;
    }
    .support-log .icon-guanbijiantou{
        position: absolute;
        bottom: 100px;
        right: 24px;
        color: #999999;
        font-size: 20px;
    }

    .plan-item{
        background-color: #ffffff;
        padding: 10px 15px;
        margin-bottom: 10px;
    }
</style>
{/block}

{block name="content"}
    <div id="app" class="support-log" v-cloak>
        <yd-infinitescroll :callback="getData" ref="infinitescroll">

            <div class="plan-item" slot="list" v-for="(item, index) in listData">
                <p>{{item.description}}</p>
            </div>

            <!-- 数据全部加载完毕显示 -->
            <span slot="doneTip">没有数据</span>
            <!-- 加载中提示，不指定，将显示默认加载中图标 -->
            <img slot="loadingTip" src="http://static.ydcss.com/uploads/ydui/loading/loading10.svg"/>
        </yd-infinitescroll>

        <div class="btn-add">
            <yd-button type="primary" size="large" @click.native="visible = true">添加计划安排</yd-button>
        </div>

        <yd-popup v-model="visible" position="bottom" height="100%">
            <yd-cell-group>

                <yd-cell-item>
                    <yd-textarea slot="right" v-model="form.description" placeholder="请输入计划描述" maxlength="200"></yd-textarea>
                </yd-cell-item>

            </yd-cell-group>

            <i class="iconfont icon-guanbijiantou" @click="visible = false"></i>

            <div class="btn-add">
                <yd-button type="primary" size="large" @click.native="add">提交</yd-button>
            </div>
        </yd-popup>

    </div>
{/block}

{block name="footer"}

<script>
    var app = new Vue({
        el: '#app',
        data: {
            pn: 1,
            ps: 15,
            listData: [],
            visible: false,

            userInfo: null,
            form: {
                invoiceId: util.getParams('id'),
                description: ''
            }
        },
        created: function () {
            var self = this;

            ding.ready(function(){
                ding.getUserInfo(function(resp){
                    self.userInfo = resp.data;
                    self.getData();
                });
            });
        },
        methods: {
            add: function () {
                var self = this;
                this.form.userId = this.userInfo.userid;
                this.form.name = this.userInfo.name;

                axios.get('/api/invoice/addPlan', {
                    params: self.form
                }).then(function (resp) {
                    if (resp.data.ret) {
                        self.pn = 1;
                        self.listData = [];
                        self.getData();
                        self.visible = false;
                        self.$dialog.toast({
                            mes: '成功',
                            timeout: 1500,
                            icon: 'success'
                        });
                    }else{
                        self.$dialog.toast({
                            mes: resp.data.msg,
                            timeout: 1500,
                            icon: 'error'
                        });
                    }
                })


            },
            getData: function() {
                var self = this;
                axios.get('/api/invoice/getPlan', {
                    params: {
                        invoiceId: util.getParams('id'),
                        pn: self.pn
                    }
                }).then(function (resp) {
                    var _list = resp.data.data;

                    self.listData = self.listData.concat(_list);

                    if (_list.length < self.ps) {
                        self.$refs.infinitescroll.$emit('ydui.infinitescroll.loadedDone');
                        return;
                    }
                    /* 单次请求数据完毕 */
                    self.$refs.infinitescroll.$emit('ydui.infinitescroll.finishLoad');
                    self.pn++;
                });
            }
        }
    })
</script>
{/block}